@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(34, 76%, 94%);
    --dark-blue: hsl(212, 70%, 20%);
    --light-blue: rgba(136, 177, 225, 0.3);
    --dark-purple: hsl(335, 56%, 15%);
    --orange: rgba(255, 185, 79, 0.31);
    --other-orange: hsl(36, 100%, 85%);
    --yellow: hsl(24, 92%, 39%);
  }
}

@layer utilities {
  body {
    overflow-x: hidden;
    background-color: var(--background);
  }

  .text-balance {
    text-wrap: balance;
  }

  .clip-path-polygone {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 9% 100%);
  }
}
