@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(34, 76%, 94%);
    --dark-blue: hsl(212, 70%, 20%);
    --middle-blue: hsl(198.39, 83.78%, 14.51%);
    --light-blue: rgba(136, 177, 225, 0.3);
    --dark-purple: hsl(335, 56%, 15%);
    --orange: rgba(255, 185, 79, 0.31);
    --other-orange: hsl(36, 100%, 85%);
    --yellow: hsl(24, 92%, 39%);
  }
}

@layer utilities {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100svw;
    overflow-x: hidden;
    background-color: var(--background);
  }

  .text-balance {
    text-wrap: balance;
  }

  .clip-path-polygone {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 9% 100%);
  }

  @media (min-width: 1440px) {
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: var(--middle-blue);
    }

    ::-webkit-scrollbar-thumb {
      background: var(--light-blue);
      border-radius: 10px;
    }
  }

  .wave-background {
    position: relative;
  }

  .wave-background::before {
    content: "";
    width: 100%;
    height: 23px;
    position: absolute;
    left: 0;
    top: -20px;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 6vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23fbf0e5'/></svg>");
  }

  @media (min-width: 1280px) {
    .wave-background::before {
      height: 25px;
      top: -25px;
      background-position: 5vw bottom;
      background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23fbf0e5'/></svg>");
    }
  }

  .wave-blue {
    position: relative;
  }

  .wave-blue::before {
    content: "";
    width: 100%;
    height: 300px; /* Augmenter la hauteur ici */
    position: absolute;
    top: -300px; /* Assurez-vous que cela correspond à la nouvelle hauteur */
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 100vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 300' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 200L50 184C100 168 200 136 300 100C400 64 500 -20 600 4C700 28 800 148 900 196C1000 244 1100 220 1150 208L1200 200V500H0V200Z' fill='%230f3157'/></svg>");
  }

  @media (min-width: 1440px) {
    .wave-blue::before {
      height: 400px; /* Augmenter la hauteur ici */
      top: -350px; /* Assurez-vous que cela correspond à la nouvelle hauteur */
      background-position: 90vw bottom;
      background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 400' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 200L50 184C100 168 200 136 300 100C400 64 500 -20 600 4C700 28 800 148 900 196C1000 244 1100 220 1150 208L1200 200V500H0V200Z' fill='%230f3157'/></svg>");
    }
  }

  @media (min-width: 1536px) {
    .wave-blue::before {
      height: 300px;
      top: -250px;
      background-position: 90vw bottom;
      background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 300' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 200L50 184C100 168 200 136 300 100C400 64 500 -20 600 4C700 28 800 148 900 196C1000 244 1100 220 1150 208L1200 200V500H0V200Z' fill='%230f3157'/></svg>");
    }
  }

  @media (min-width: 1920px) {
    .wave-blue::before {
      height: 400px;
      top: -350px;
      background-position: 90vw bottom;
      background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 400' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 200L50 184C100 168 200 136 300 100C400 64 500 -20 600 4C700 28 800 148 900 196C1000 244 1100 220 1150 208L1200 200V500H0V200Z' fill='%230f3157'/></svg>");
    }
  }

  .wave-purple {
    position: relative;
  }

  .wave-purple::before {
    content: "";
    width: 100%;
    height: 23px;
    position: absolute;
    left: 0;
    top: -20px;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 6vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%233D1123'/></svg>");
  }

  @media (min-width: 1280px) {
    .wave-purple::before {
      height: 25px;
      top: -25px;
      background-position: 5vw bottom;
      background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%233D1123'/></svg>");
    }
  }
}
